[loggers]
keys=root

[handlers]
keys=rotating_file

[formatters]
keys=detailed

[logger_root]
level=DEBUG
handlers=rotating_file

[handler_rotating_file]
class=handlers.RotatingFileHandler
formatter=detailed
args=('pylua.log', 'a', 15728640, 1)

[formatter_detailed]
format=%(asctime)-15s [%(process)d][%(levelname)-8s][%(name)s]: %(message)s
